
body{
     padding:0;
     margin:0;
}


.nav-logo{
    height :60px;
    padding:0;
    width :auto;
    margin-left:0;

  
}

.navbar
      {display:flex;
       justify-content: space-between;
       align-items:center;
       background-color:#1a1a1a;
       width:100%;
       padding:0;
       margin:0;
      
}

.nav-container {
    justify-content: flex-end;
    align-items: center;
    gap: 15px; 
    display:flex;
}


 
.menu a{
      text-decoration: none;
    font-size: 1rem;
    background-color: #ffcc99; 
    padding: 5px 10px;
    border-radius: 5px; 
    color:#ebe9e7;
    display:block;
    align-self:center;
    background:none;
      
      }

.menu{
      display :none;
      flex-direction:column;
      gap:15px;
}

.menu-btn{
   font-size:30px;
   background:none;
   border:none;
   color:white;
   cursor:pointer;
}

.three-dots {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}





.menu-container {
  display: flex;
  background-color:#1a1a1a;
  color: white;
  padding: 10px;
  gap: 5px;
  font-family: Arial, sans-serif;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright; 
  font-weight: bold;
  letter-spacing: 5px;
  width:10px;
  height:10px;
}

.icons-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.box {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 8px; 
}

.arrow {
  font-size: 24px;
  font-weight: bold;
  transform: scaleX(1.5);
}





h1{
   color: #111;
   margin: 20px;
   width:50%;
   font-family: sans-serif;
   text-align:center;
   margin-left:100px;
  }

h2{
   color: #111;
   width: 50%;
   margin: 15px auto;
   padding: 20px;
   text-align: center;
   box-shadow:2px 4px 10px
   rgba(0,0,0,0.1);
   font-size:1rem;
   border-radius:10px;
   background-color:#ffcc99;

}

p{
  margin-left:15px;
  color:#1a1a1a;
  font-size:1.5rem;
  sans-serif font:geneva;

}



