h1{
   color: #111;
   margin: 20px;
   font-family: sans-serif;
   text-align:center;
  }

h2{
   color: #ffcc99;
   width: 80%;
   margin: 15px;
   padding: 20px;
   text-align: center;
   box-shadow:2px 4px 10px
   rgba(0,0,0,0.1);
   font-size:1.2rem;
   border-radius:10px;

}
